@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
.nav-link {
    font-family: "Rubik", sans-serif;
    color: #4f5665;
}


.box h5 {
    font-family: "Rubik", sans-serif;
    color: #0b132a;
    line-height: 1;
    font-weight: 600;
}

.text {
    font-family: "Rubik", sans-serif;
    color: #4f5665;
    line-height: 1.8;
}

.fw-strong {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fs-50 {
    font-size: 50px;
}

.title {
    font-family: "Rubik", sans-serif;
    color: #0b132a;
}

.btn-shadow {
    box-shadow: 0px 9px 20px -1px rgba(245, 56, 56, 1);
}

.box-shadow {
    /* box-shadow: 0px 26px 41px -23px rgba(0, 0, 0, 0.75); */
    /* box-shadow: 0px 15px 41px -19px rgba(0, 0, 0, 0.75); */
    box-shadow: 0px 26px 41px -32px rgba(0, 0, 0, 0.75);
}